
*.i
*.d
.hg/bookmarks
.hg/branch
.hg/cache/branch2-base
.hg/cache/branch2-served
.hg/cache/hgtagsfnodes1
.hg/cache/rbc-names-v1
.hg/cache/rbc-revs-v1
.hg/cache/tags2
.hg/cache/tags2-visible
.hg/dirstate
.hg/hgrc
.hg/requires
.hg/store/fncache
.hg/thgstatus
.hgignore
.hgtags
.idea/libraries/Gradle__com_android_support_support_v4_18_0_0_jar.xml
.idea/modules.xml
.idea/vcs.xml
.project
.classpath
bin/release/app-release.apk
.hg/store/undo
.hg/undo.desc
.hg/undo.dirstate
